<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form id="contact-form">
        <label for="fName">First Name:</label>
        <input type="text" id="fName" name="fName" />
        <span id="err-fName" class="error" name="error"></span>

        <label for="lName">Last Name:</label>
        <input type="text" id="lName" name="lName" />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />

        <label for="event-date">Select a Date:</label>
        <input type="date" id="event-date" name="event-date" />

        <label for="">Select a Time:</label>
        <input type="time" id="event-time" name="event-time" />

        <button type="submit">Send</button>
      </form>
    </main>
  </body>
</html>
